@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Symblr</title>
  <link rel="stylesheet" href="/css/spa.css" />
</head>
<body>

  <div id="container">
    <div id="main">
      <div id="navbar">

      </div>
      <div id="content">
        <div class="title">
          Symblr
        </div>
        <div class="container">
          <section class="primary" style="width: 300px">
            <header>
              <div class="buttons">
                <button class="close"></button>
              </div>
              New Search
            </header>
          </section>
          <section>
            <header>
              <div class="buttons">
                <button class="close"></button>
              </div>
              Search 1
            </header>
          </section>
          <section>
            <header>
              <div class="buttons">
                <button class="close"></button>
              </div>
              Release 1.0.2
            </header>
          </section>
        </div>
      </div>
    </div>
  </div>

</body>
</html>