@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Symblr</title>
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

  <div id="page">
    <div id="main">
      <div id="navbar">
          <button class="plus primary">Widget</button>
          <button class="search">Search</button>
          <button class="database">Categories</button>
          <button class="cog">Admin</button>
      </div>
      <div id="content">
        <header>
          Symblr
        </header>
        <div>
          <div id="tiles">
            <div class="tile width-2 height-2">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>